PORT=5000
NODE_ENV=development

DATABASE_URL=your_database_connection_string
JWT_SECRET=your_jwt_secret
FRONTEND_URL=your_frontend_url

# ============================================================
# ZENIMONIES GIFT CARD PROVIDER
# ============================================================

PRESTMIT_API_URL=https://dev-api.prestmit.io/partners/v1
PRESTMIT_API_KEY=
PRESTMIT_API_SECRET=
